  <div class="product">
  <p>
    <h2><%= link_to product.name, product %></h2>
  </p>
  
  <p>
    <%= product.description %>
  </p>
  
  <p>
    <strong>Price:</strong>
    <%= number_to_currency(product.price) %>
  </p>
  
  <p>
    <%= link_to 'Edit', edit_product_path(product) %> |
    <%= link_to 'Back', products_path %>
  </p>
  </div>